@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --padding: 5.5vh;
}

body {
    background-color: rgb(37, 43, 52);
    color: white;
    font-size: calc(0.75rem + 1vw);
    text-shadow: -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black;
}

header, footer {
    z-index: 10;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(54, 61, 74);
    height: var(--padding);
}

header {
    top: 0;
}

footer {
    bottom: 0
}

.rect {
    background-color: red;
    height: 200vh;
    width: 50px;
}

.top-side {
    background-color: green;
}

.icon {
    width: 20vw;
    height: 100%;
}

.small {
    width: 15vw;
}

.option, select {
    width: 100%;
    height: 100%;
}

select {
    outline: none;
}

.container {
    margin: var(--padding) 0;
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 50vw;
    height: 66.67vw;
    padding: 1px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}

.card {
    color: white;
}

a {
    color: rgb(112, 186, 250);
}

.red {
    color: rgb(252, 127, 127);
}

.green {
    color: rgb(142, 239, 151);
}

.blue {
    color: rgb(141, 165, 243);
}

.violet {
    color: rgb(195, 142, 241);
}

.yellow {
    color: rgb(255, 222, 102);
}

.active-background {
    background-color: rgb(55, 79, 102);
}

.bold {
    font-weight: 900;
}