@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --padding: 5vh;
    --low-padding: 0.5vh;
    --font-size: calc(0.7rem + 1vw);
    --background-color: rgb(37, 43, 52);
    --panel-color: rgb(54, 61, 74);
    --container-margin: 5vw;
    --color: white;
    --red: rgb(252, 127, 127);
    --green: rgb(142, 239, 151);
    --blue: rgb(141, 165, 243);
    --violet: rgb(195, 142, 241);
    --yellow: rgb(255, 222, 102);
}

body {
    background-color: var(--background-color);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: var(--color);
    font: 500 var(--font-size) 'Roboto', sans-serif;
}

header, footer {
    z-index: 10;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: var(--panel-color);
    backdrop-filter: blur(5px);
    justify-content: space-between;
    gap: var(--low-padding);
}

header {
    top: 0;
    flex-direction: column;
}

.options {
    display: flex;
    flex-direction: column;
    gap: var(--low-padding);
}

.line {
    padding: 0 var(--low-padding);
    display: flex;
    width: 100%;
    height: var(--padding);
}

.end {
    justify-content: flex-end;
}

.hide {
    display: none;
}

footer {
    bottom: 0;
    height: calc(var(--padding) + var(--low-padding));
}

.rect {
    height: 200vh;
    width: 50px;
}

.top-side {
    background-color: green;
}

.icon {
    font-size: var(--padding);
    cursor: pointer;
}

.favorite {
    font-size: 9vw;
    color: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 1vh;
    right: 1vh;
    z-index: 1;
}

.inFavorite {
    color: rgb(205, 56, 56);
}

.vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 100%);
}

.small {
    width: 15vw;
}

select, input, option {
    width: 100%; /* Uncomment this line if needed */
    height: 100%;
    font-weight: 600;
    outline: none;
    padding: 5px;
}

/* The following selector should be separated */
input[type="search"] {
    width: 100%;
}

.container {
    margin: var(--padding) var(--container-margin) calc(var(--padding) + var(--low-padding)) var(--container-margin);
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: calc((100vw - (var(--container-margin) * 2)) / 2);
    height: calc((100vw - (var(--container-margin) * 2)) / 2 * (4/3));
    color: white;
    border: 2px solid rgba(0, 0, 0, 0);
    text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black;

}

.online {
    border: 3px solid rgb(142, 239, 151);
    color: rgb(142, 239, 151);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    position: absolute;
    bottom: 1vh;
    left: 1vh;
    z-index: 1;
}

.selector {
    height: var(--low-padding);
    width: 100%;
    background-color: black;
}

a {
    color: rgb(112, 186, 250);
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.blue {
    color: var(--blue);
}

.violet {
    color: var(--violet);
}

.yellow {
    color: var(--yellow);
}

.bg-blue {
    background-color: var(--blue);
}



.bold {
    font-weight: 900;
}

.uppercase {
    text-transform: uppercase;
}

.img-container {
    width: 100%;
    height: 119.7vw;
}

#arrow-top {
    position: fixed;
    z-index: 3;
    bottom: 5vh;
    right: 2vh;
    font-size: 3rem;
    display: none;
    color: rgba(255, 255, 255, 0.9);
}

#top-anchor {
    position: absolute;
    top: 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 15;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    font-size: calc(var(--font-size) * 1.5);
}

.filter {
    background-color: var(--panel-color);
    z-index: 55;
    position: fixed;
    height: var(--padding);
    width: 100%;
    top: var(--padding);
    left: 0;
    display: flex;
}

form {
    display: flex;
}

.active {
    display: flex;
    background-color: var(--background-color);
}

.ad-details {
    position: fixed;
    background-color: var(--panel-color);
    z-index: 5;
    height: 80vh;
    width: 100vw;
    top: 10vh;
    left: 0;
    padding: var(--low-padding);
    align-items: center;
    justify-content: center;
    /* background-color: var(--background-color);  <-- This line is redundant */
}

.ad-details .active {
    display: flex;
}

.galery {
    width: 50%;
    height: 50%;
}

.settings-container {
    display: flex;
    align-items: center;
    width: 50%;
}

.settings-container input[type="checkbox"] {
    margin-right: 10px;
}

.settings-container label {
    white-space: nowrap;
}

input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--color);
}

/* Make sure this rule is placed after the initial styling */
input[type="checkbox"]:checked {
    background-color: rgb(112, 186, 250); /* Change the background color when checked */
    color: rgb(112, 186, 250); /* Change the text color when checked */
}